
html, body {
  line-height: 1.6;
  margin: 0;

  color: #0A5951;
}




a {
  color:black;
  text-decoration: underline;
}

a:hover {
  text-decoration: overline;
  font-style: bold;
}

img {
  max-width: 100%;
  display: block;
}






code{
  background-color: black;
  color: #15f4ee;
  margin-top: 1vmax;
  margin-bottom: 1vmax;
  padding: 2vmax;

}
